.account-page{
    height:100%;
    /* overflow-y: scroll; */
}

.right-panel{
    overflow-x: hidden;
    /* height: fit-content; */
}
.left-panel{
    height: calc(100vh - 60px) !important;
    overflow: hidden;
}
.slide{
    height: 100vh;
}

.sign-up-btn{
    position: relative;
    font-size:14px !important ;
    margin-top: 30px !important;
    font-weight: bold !important;
}
.carousal-image{
    object-fit: cover !important;
    width: 100%;
    height: 100%;
}
/* account page */
.ap-title{
    font-weight: bold !important;
    font-size: 28px !important;
}
.ap-heading{
    font-size: 24px !important;
    font-weight: bold !important;
}
.ap-desc{
    font-weight: normal !important;
    font-size: 17px !important;
}
.ap-desc__bold{
    font-weight: bold !important;
    font-size: 17px !important;
}
.step-text{
    font-size: 13px !important;
    font-weight: lighter;
}

.ap-label{
    font-size:16px !important;
}

/* browse coach page */
.bc-name{
    font-weight: bold;
    font-size: 22px !important;
}
.bc-desc{
    font-weight: normal;
    font-size: 17px;
}

.bc-topic{
    font-weight: bold;
    font-size: 22 px;
}
.bc-topic__content{
    font-weight: normal;
    font-size: 14px;
}
/* coach profile (homepage) */
.hp-card{
    background: #FBEEE4 !important;
}
.hp-card__name{
    font-weight: bold;
    font-size: 18px !important;
} 
.hp-card__desc{
    font-weight: normal;
    font-size: 12px;
}
.hp-card__topic{
    font-weight: bold;
    font-size: 17px;
}
.hp-card__topic__cotent{
    font-weight: 300;
    font-size: 16px !important;
}
/* message screen */
.mp-card{
    
}
.mp-card__left{
    height: fit-content;
    padding-bottom: 80px;
}
.mp-user__name{
    font-weight: bold;
    font-size: 16px;
    /* letter-spacing: -0.02em;  */
}
.mp-user__message{
    font-family: Muli;
    font-weight: normal;
    font-size: 14px;
    /* letter-spacing: -0.02em;     */
}
.mp-user__time{
    font-weight: normal;
    font-size: 11px;
}
@media (min-width:1600px) {
    .sign-up-btn{
        position: absolute;
    }
}

@media (min-width:1000px) {
    .account-container{
        width: 80%;
        margin: auto;
    }
    .ap-title{
        font-weight: bold !important;
        font-size: 38px !important;
    }
    .ap-desc{
        font-weight: 600 !important;
        font-size: 28px !important;
    }
    .ap-desc__bold{
        font-size: 22px !important;
    }
    .step-text{
        font-size: 17px !important;
    }
    
    .ap-label{
        font-size:22px !important;
    }
    .account-page{
        overflow: hidden;
    }
    .right-panel{
        max-height: calc(100vh - 60px) !important;
        /* height: 100%; */
        overflow-y: scroll;
    }   
    .left-panel{
        height: calc(100vh - 60px) !important;
        overflow: hidden;
    }
    .sign-up-btn{
        font-size: 22px !important;
        font-weight: 300 !important;
    }
    /* browse coach page */
    .bc-name{
        font-size: 26px !important;
    }
    .bc-desc{
        font-size: 24px;
    }

    .bc-topic{
        font-size: 26px;
    }
    .bc-topic__content{
        font-size: 16px;
    }
    /* coach profile */
    .hp-card{
        background: #FFF !important;
    }
    .hp-card__name{
        font-size: 22px;
    } 
    .hp-card__desc{
        font-size: 22px;
    }
    .hp-card__topic{
        font-size: 27px;        
    }
    .hp-card__topic__cotent{
        font-size: 23px;
    }
    /* message screen*/
    /* message screen */
    .mp-card{
        
    }
    .mp-card__left{
        height: 78vh;
        overflow-y: scroll;
        border-right: 1px solid #000;
        padding-bottom: 0px;
    }
    .mp-card__left::-webkit-scrollbar{
        display: none;
    }
    .mp-user__name{
        font-weight: bold;
        font-size: 16px;
        /* letter-spacing: -0.02em;  */
    }
    .mp-user__message{
        font-family: Muli;
        font-weight: normal;
        font-size: 14px;
        /* letter-spacing: -0.02em;     */
    }
    .mp-user__time{
        font-weight: normal;
        font-size: 11px;
    }
}

.control-dots{
    position: absolute !important;
    /* bottom:1000px; */
    left:0px;
    bottom: 75px !important;
    font-size: 100px;
    /* background:red; */
}
.control-dots li{
    height: 15px !important;
    width: 15px !important;
    background: #fff !important;
}
.control-dots .dot{
    background:#FFF !important;
}
.dot.selected{
    background:#FDBA13 !important;
}