@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap");
:root{
  --nb_primary: #FDBA13;
  --nb_primary__light:#FDDDC5;
  --nb_secondary: #6666FF;
}

body {
  margin: 0;
  padding: 0;
  font-family:'Mulish', sans-serif !important;
  position: relative;
}

.nb-text-primary{
  color:var(--nb_primary) !important;
}
 
.cp{
  cursor: pointer !important;
}
.br-sm{
  border-radius: 5px !important;
}
.br{
  border-radius: 8px !important;
}
.br-lg{
  border-radius: 12px !important;
}

.btn{
  background:white;
  border-radius: 8px;
  border:none !important;
  outline: none !important;
}

.btn-primary{
  color:white !important;
  background:#3E3E70 !important;
}

.btn-outline{
  background:white !important;
  color:#3E3E70 !important;
  border: 1px solid #979797 !important;
}