@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap");
:root{
  --nb_primary: #FB7750;
  --nb_primary__light:#FDDDC5;
  --nb_secondary: #6666FF;
}

.bgc-primary{
  background:#FB7750 !important;
}
.bgc-primary__light{
  background:#FDDDC5 !important;
}
.bgc-secondary{
  background:#6666FF !important;
}
.textc-primary{
  background:#FB7750 !important;
}
.textc-primary__light{
  background:#FDDDC5 !important;
}
.textc-secondary{
  background:#6666FF !important;
}

body {
  margin: 0;
  padding: 0;
  font-family:'Mulish', sans-serif !important;
  position: relative;
  overflow-x:hidden;
  font-weight: 300;
  font-size: 22px;

}

input::placeholder {
  color: #000;
  font-family: "Mulish" !important;
  font-size: 16px !important;
  font-weight: 300 !important;
  /* line-height: 32px !important; */
}

input::-moz-placeholder {
  color: #888888;
  font-family: "Mulish" !important;
  font-size: 14px !important;
  font-weight: 300 !important;
  line-height: 20px !important;
}
textarea::placeholder {
  color: #000;
  font-family: "Mulish" !important;
  font-size: 13px !important;
  font-weight: 300 !important;
  /* line-height: 32px !important; */
}
textarea::-moz-placeholder {
  color: #888888;
  font-family: "Mulish" !important;
  font-size: 14px !important;
  font-weight: 300 !important;
  line-height: 20px !important;
}
input{
  font-size: 14px;
}
/* ::-webkit-datetime-edit-month-field { font-size: 10px !important; }
::-webkit-datetime-edit-day-field { font-size: 14px !important;  }
::-webkit-datetime-edit-year-field { font-size: 14px !important;  } */

/* ::-webkit-datetime-edit,
::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-year-field,
::-webkit-inner-spin-button,
::-webkit-calendar-picker-indicator {

} */

.shadow-lg{
  box-shadow:unset !important;
}

.nb-text-primary{
  color:var(--nb_primary) !important;
}
 
.cp{
  cursor: pointer !important;
}
.br-sm{
  border-radius: 5px !important;
}
.br{
  border-radius: 8px !important;
}
.br-lg{
  border-radius: 12px !important;
}

.btn{
  background:white;
  border-radius: 8px !important;
  border:none !important;
  outline: none !important;
  font-weight: 700 !important;
  height: 50px;
  font-size: 16px;
  line-height: 20px !important;
  transition: all .3s ease-in-out;
}

.btn-primary{
  color:#fff !important;
  background:var(--nb_primary) !important;
}

.btn-secondary{
  background:#3E3E70 !important;
  color: #fff;
}

.btn-violet{
  background:#AE91DF !important;
  border:1px solid #AE91DF !important;
  color:#fff;
}
.btn-violet:hover{
  /* border:1px solid #AE91DF !important; */
  background:#fff !important;
  color :#AE91DF;
}

.btn-violet__outline{
  border:1px solid #AE91DF !important;
  background:#fff;
  color :#AE91DF;
}

.btn-violet__outline:hover{
  background:#AE91DF !important;
  color:#fff;
}

.btn-light{
  color:#000 !important;
  background:#fff !important;
}


.btn-rounded{
  border-radius: 50px !important; 
}

.btn-outline{
  background:white !important;
  color:var(--nb_primary) !important;
  border: 1px solid var(--nb_primary) !important;
}

.btn-outline__dark{
  background:white !important;
  color:#000 !important;
  border: 1px solid #000 !important;
}
.message-bg{
  background: url(./assets/bg.svg);
  /* background-position: top left; */
  width: 100%;
  height: 100%;
  /* background:#000; */
  background-position: center ;
  background-repeat: no-repeat;
  background-size: 1900px 2000px;
}

@media (min-width:1300px) {
  .message-bg{
    background-size: 2500px 2400px;
  }
}